@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-SemiBold.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Italic.ttf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Folio Condensed' !important;
  src: url('./fonts/FolioCondensedBQ-BoldItalic.woff') format('woff'),
       url('./fonts/FolioCondensedBQ-BoldItalic.ttf') format('truetype') !important;
  font-weight: bold !important;
  font-style: italic !important;
}
