@import url('./fontface.scss');

.title {
  font-size: 36px;
}

.ft-small{
  font-size: 10px;
}

.ft-medium{
  font-size: 12px;
}

.ft-medium-13{
  font-size: 13px;
}

.ft-12{
  font-size: 12px;
}

.ft-14{
  font-size: 14px;
}

.ft-medium-15{
  font-size: 15px;
}

.ft-big-24{
  font-size: 24px;
}

