.m-t-10 { margin-top: 10px; }
.m-t-24 { margin-top: 24px; }
.m-t-34 { margin-top: 34px; }
.m-t-48 { margin-top: 48px; }
.m-t-70 { margin-top: 70px; }
.m-t-80 { margin-top: 80px; }
.m-t-94 { margin-top: 94px; }

.m-b-24 { margin-bottom: 24px; }
.m-b-48 { margin-bottom: 48px; }
.m-b-10 { margin-bottom: 10px; }

.m-l-24 { margin-left: 24px; }
.m-r-24 { margin-right: 24px; }

.m-24 { margin: 24px; }
.m-48 { margin: 48px; }

.d-l-flex{
  display: inline-flex;
}
